.first-block {
  margin-top: 165px !important;
}
.hero-container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.hero-img {
  transform: translate(9%, -10%);
  width: 95%;
}
.bg-block {
  background-color: rgb(245, 245, 245);
  padding: 15px 0px;
}
.bg-block-w {
  background-color: rgb(255, 235, 235);
  padding: 15px 0px;
}
.brdr {
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  /* margin: 20px -20px; */
  margin: 10% 12%;
}
.h-twos-hero {
  margin-top: 4%;
  margin-bottom: 2%;
}
.service-hero {
  width: 75%;
  cursor: pointer;
}
.pd-top {
  padding: 5% 5% 0 5%;
}
.ps-mr {
  margin: 8% 14%;
}
.ps-l {
  margin-left: 5%;
}
.ps-r {
  margin-right: 5%;
}
.ps-t {
  margin-top: 5%;
}
.ps-b {
  margin-bottom: 10%;
}
.service-gp {
  margin: 7% 12%;
}
.spacer {
  margin: 15% 15%;
}
.div-bg {
  background-image: linear-gradient(to right, white, black);
  width: 100%;
  height: 500px;
}
.hero-vctrs {
  width: 45%;
  margin-bottom: 4%;
}
.last-logo {
  transform: translate(20%, 20%);
}
#last-h-4-1 {
  color: #e91f1f;
  transform: translate(5%, 45%);
}
#last-h-4-2 {
  color: #e91f1f;
  transform: translate(5%, 400%);
}
.last-h4-3 {
  /* transform: translate(60%, -200%); */
  color: #e91f1f;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.8;

  margin: 0 10% 1.5% 60%;
}
.contact-h4 {
  transform: translate(0, -50%);
}
hr {
  background-color: dimgrey;
  color: dimgrey;
  border: solid 5px dimgrey;
  height: 5px;
  width: 1000px;
}
/* #fh5co-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 120px;
  opacity: 1;
  top: 0;
  margin-top: 0px;
  background: #fff;
} */
